<footer class="container">
    <div class="py-3 my-4">
        {# Social Media #}
        <ul class="justify-content-center list-unstyled d-flex border-bottom border-secondary pb-3 mb-3 fs-1">
            <li class="mx-3">
                <a class="text-black" target="_blank" href="https://www.instagram.com/fredmauve/">
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </li>
            <li class="mx-3">
                <a class="text-black" target="_blank" href="https://www.facebook.com/people/Fred-Mauve-Artiste/100064602257294/">
                    <i class="fa-brands fa-facebook"></i>
                </a>
            </li>
            <li class="mx-3">
                <a class="text-black" target="_blank" href="#">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
            </li>
        </ul>
        <p class="text-center">© 2023 Fred Mauve. Tous droits réservés.</p>
    </div>
</footer>