{% extends 'base.html.twig' %}

{% block title %}A propos de Fred Mauve{% endblock %}

{% block body %}
    <div class="container-fluid text-center">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/Pablo_picasso_1.jpg/800px-Pablo_picasso_1.jpg" alt="photo d'artiste" class="img-fluid">
        <h1 class="mb-5">A propos de Fred Mauve :</h1>
        <p class="mb-5 px-5">Fred Mauve est un artiste... Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur, quae asperiores corporis distinctio quod eaque, vero reiciendis accusantium veniam voluptatum sed, dolorum deleniti nulla natus ex eum. Reprehenderit, dolores quasi?
        Impedit a corporis voluptas, aut repellendus repellat maiores consequuntur iure ipsa fuga delectus minus sed. Consectetur, reprehenderit! Iusto, quis! Ducimus velit ut, beatae expedita eligendi quae saepe nesciunt. Enim, voluptatem.
        Accusantium perspiciatis suscipit assumenda quod recusandae neque, iure alias corrupti, repellat culpa delectus explicabo quos dignissimos dolorum eum accusamus illo beatae vel sed? Voluptates, reprehenderit voluptate. Eligendi voluptatum repudiandae animi.
        Perspiciatis reprehenderit non dolorem similique fuga, voluptate quidem itaque tenetur ratione earum rerum sequi distinctio, maiores ad enim quisquam aliquid dignissimos qui, corrupti repudiandae omnis a cupiditate voluptatum consequatur! Debitis.
        Qui temporibus facere a nostrum sint repudiandae dicta atque repellendus veritatis maiores doloremque, ipsam voluptatibus consequuntur amet dolores est! Illo eius error ea quas pariatur velit molestiae nihil ullam aspernatur?
        Quas velit, eaque eius recusandae magnam minus qui! Iusto, officia? Esse nemo vero omnis saepe, repellendus dicta mollitia ab dolore. Nulla, quo? Illo saepe atque sit iure obcaecati repellat accusantium!
        </p>
    </div>
{% endblock %}
