{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<form method="post">
    <h1 class="text-center mt-5">Connexion</h1>
    <div class="p-5 container-xxl d-flex justify-content-around">
        <section class="p-4 rounded-3 shadow-lg d-column-flex justify-content-center col-sm-12 col-md-8 col-lg-6 mb-5">
            {% if error %}
                <p class="text-danger">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </p>
            {% endif %}
            <label for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-3" autocomplete="email" required autofocus>
            <label for="inputPassword">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control mb-3" autocomplete="current-password" required>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <div class="d-flex flex-column flex-sm-row justify-content-between">
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Se souvenir de moi
                    </label>
                </div>
                <button class="btn btn-dark btn-md" type="submit">Se connecter</button>
            </div>
        </section>
    </div>
</form>
{% endblock %}
