{% extends 'dashboard/index.html.twig' %}

{% block title %}Gérer les actualités{% endblock %}

{% block body %}
    <h1 class = "text-center mt-5">Gérer les actualités</h1>
    {{ parent() }}
{% endblock %}

{% block sidebar %}
{% endblock %}