{% extends 'dashboard/index.html.twig' %}


{% block body %}
{{ parent() }}
    <h1 class = "text-center mt-5">Gérer les actualités</h1>
    {{dump(news)}}
{% endblock %}

{% block sidebar %}
{% endblock %}