{% extends 'base.html.twig' %}

{% block title %}Accueil - Fred Mauve{% endblock %}

{% block body %}

<div class="example-wrapper p-5">
    <h1 class="text-center my-4">Fred Mauve</h1>
    <div class="d-flex justify-content-center">
        <img class="img-fluid shadow-lg rounded" src="{{ asset('dist/assets/media/images/foule.jpeg') }}" alt="">
    </div>
</div>
{% endblock %}
