<form class="d-inline-flex" method="post" action="{{ path('admin_work_delete', {'id': work.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette oeuvre?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ work.id) }}">
    <button class="btn btn-danger ms-2">Supprimer</button>
</form>
