{% extends 'dashboard/index.html.twig' %}

{% block title %}Ajout d'une œuvre{% endblock %}

{% block body %}
    <h1>Ajouter une œuvre</h1>

    {{ include('dashboard/work_dashboard/_form.html.twig') }}

    <a href="{{ path('admin_work_home') }}">back to list</a>
{% endblock %}
