{% extends 'dashboard/index.html.twig' %}

{% block title %}New Work{% endblock %}

{% block body %}
    <h1>Create new Work</h1>

    {{ include('dashboard/work_dashboard/_form.html.twig') }}

    <a href="{{ path('admin_work_home') }}">back to list</a>
{% endblock %}
