<form method="post" action="{{ path('admin_news_delete', {'id': news.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette actualité?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ news.id) }}">
	<button class="btn">Delete</button>
</form>
