h1 {
    font-size: 3.5rem;
}
/* Les champs du formulaire */
.outline:focus {
    outline: 2px outset #ffffff;
    box-shadow: 3px 2px 15px #818181;
}
div>div>section.fondColor {
    background-color: #FAF6F1;
}
/* Les messages d'erreur */
form div ul li {
    color: red;
    list-style: none;
    font-style: italic;
}