.title {
    margin-top: 50px;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.container_legal {
    margin: 50px;
    text-align: center;
}
h2 {
    font-size: 1.5em;
    text-decoration: underline;
    text-transform: uppercase;
}
ul {
    list-style: none;
}