.title {
    text-align: center;
    font-size: 3.5rem;
    font-weight: lighter;
    color: rgb(209, 195, 132);
    text-transform: uppercase;
    letter-spacing: 2.5px;
}
.container {
    margin: 50px;
}
h2 {
    font-size: 1.5em;
    text-decoration: underline;
    text-transform: uppercase;
}
ul {
    list-style: none;
}