@font-face {
    font-family: 'Space_Mono', sans-serif;
    src: url("../font/Space_Mono/SpaceMono-Regular.otf");
    src: url("../font/Space_Mono/SpaceMono-Regular.ttf");
}
body {
    font-family: 'Space Mono', monospace;
}

/* Logo */
header section h1 {
    font-size: 4em;
}

/* Hover links navbar */
nav ul li a:hover {
    font-weight: bold;
}

/* Hover links footer */
.fa-facebook:hover {
    text-shadow: #3b5998 1px 0 10px;
    transition: all 0.15s ease-in-out;
}
.fa-instagram:hover {
    text-shadow: #E4405F 1px 0 10px;
    transition: all 0.15s ease-in-out;
}
.fa-linkedin:hover {
    text-shadow: #0e76a8 1px 0 10px;
    transition: all 0.15s ease-in-out;
}

