{% extends "base.html.twig" %}

{% block javascripts %}
<script>
setTimeout(() => {
    window.location.href = '/'
}, 3000);
</script>
{% endblock %}

{% block body %}
<h1 class="text-center m-5">Votre message a été envoyé !</h1>

{% endblock %}