{% extends 'base.html.twig' %}

{% block title %}Edit ImageNews{% endblock %}

{% block body %}
    <h1>Edit ImageNews</h1>

    {{ include('image_news_dashboard/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_image_news_dashboard_index') }}">back to list</a>

    {{ include('image_news_dashboard/_delete_form.html.twig') }}
{% endblock %}
