{% extends 'base.html.twig' %}

{% block title %}New ImageNews{% endblock %}

{% block body %}
    <h1>Create new ImageNews</h1>

    {{ include('image_news_dashboard/_form.html.twig') }}

    <a href="{{ path('app_image_news_dashboard_index') }}">back to list</a>
{% endblock %}
