{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}


{% block body %}
<h1 class = "text-center mt-5">Dashboard de l'admin</h1>
{% endblock %}

{% block sidebar %}
<div>
    <ul class="me-auto mb-2 mb-lg-0">
        <li>
            <a href="#">Œuvres</a>
        </li>
        <li>
            <a href="{{ path('admin_news_home') }}">Actualités</a>
        </li>
        <li>
            <a href="#">Boutique</a>
        </li>
        <li>
            <a href="#">Contact</a>
        </li>
    </ul>
</div>
{% endblock %}